<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/assets/images/faces/face1.jpg" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <!-- <span class="font-weight-bold mb-2">David Grey. H</span> -->
          <span class="font-weight-bold mb-2">
            Admin
          </span>
          <span class="text-secondary text-small">@authorized</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/manage-users" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Explore members</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1O5Ow9rVltpiAPX-K1IoZsV3xcO2pokdnTjVWCwjpRX8/edit?gid=1538751575#gid=1538751575" target="_blank" aria-expanded="false" aria-controls="icons">
        <span class="menu-title">supports</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/logout" target="_blank">
        <span class="menu-title">Logout <i class="fa-solid fa-right-from-bracket text-danger"></i></span>
        <i class="mdi mdi-file-document-box menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>